In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE, RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler, CondensedNearestNeighbour

In [2]:
df = pd.read_csv('training_set.csv')
df.head()

,age,no_of_children,net_yearly_income,no_of_days_employed,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,...,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff,credit_card_default
0,0.43750,0.111111,0.002297,0.001703,0.222222,1.0,0.146938,0.001224,0.797980,0.365256,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.84375,0.222222,0.002768,0.009511,0.333333,1.0,0.207799,0.001888,0.767677,0.930958,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.90625,0.111111,0.000637,0.003775,0.111111,0.0,0.035615,0.000641,0.414141,0.403118,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.00000,0.000000,0.001102,0.027781,0.000000,0.0,0.066881,0.000790,0.202020,0.583519,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.12500,0.111111,0.003012,0.006272,0.222222,0.0,0.216886,0.001550,0.969697,0.719376,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [8]:
X, y = df.iloc[:,:-1], df.iloc[:, -1]

In [9]:
#SMOTE
sm = SMOTE(random_state=0)
X_smote, y_smote = sm.fit_resample(X,y)

X_smote['credit_card_default'] = y_smote

In [10]:
#RandomOverSample
ros = RandomOverSampler(random_state=0)
X_ros, y_ros = ros.fit_resample(X,y)

X_ros['credit_card_default'] = y_ros

In [11]:
#RandomOverSample
rus = RandomUnderSampler(random_state=0)
X_rus, y_rus = rus.fit_resample(X,y)

X_rus['credit_card_default'] = y_rus

In [12]:
print(df['credit_card_default'].value_counts())
print(X_smote['credit_card_default'].value_counts())
print(X_ros['credit_card_default'].value_counts())
print(X_rus['credit_card_default'].value_counts())

0.0    29281
1.0     2588
Name: credit_card_default, dtype: int64
0.0    29281
1.0    29281
Name: credit_card_default, dtype: int64
0.0    29281
1.0    29281
Name: credit_card_default, dtype: int64
0.0    2588
1.0    2588
Name: credit_card_default, dtype: int64

In [ ]:
X_ros.to_csv('training_ROS.csv', index=False)
X_rus.to_csv('training_RUS.csv', index=False)
X_smote.to_csv('training_SMOTE.csv', index=False)

In [31]:
#RandomOverSample
cnn = CondensedNearestNeighbour(random_state=0)
X_cnn, y_cnn = cnn.fit_resample(X,y)

X_cnn['default.payment.next.month'] = y_cnn

In [32]:
X_cnn.to_csv('training_cnn.csv', index=False)