In [1]:
import pandas as pd
import numpy as np


df1 = pd.read_csv('train.csv')

#delete unneccessary columns
df1 = df1.drop(columns=['customer_id','name'])

In [2]:
##Filling in empty values ##########


#OWNS CAR
df1['owns_car'].fillna(0, inplace=True)

#CHILDREN
children_mean = int(df1['no_of_children'].mean())
df1['no_of_children'].fillna(children_mean, inplace=True)

#Migrant
df1['migrant_worker'].fillna(0, inplace=True)

#debt
debt_median = df1['yearly_debt_payments'].median()
df1['yearly_debt_payments'].fillna(debt_median, inplace=True)

#employment
days_worked = df1['no_of_days_employed'].median()
df1['no_of_days_employed'].fillna(days_worked, inplace=True)

#total family
family_mean = int(df1['total_family_members'].mean())
df1['total_family_members'].fillna(family_mean, inplace=True)


#credit score
credit_score = int(df1['credit_score'].median())
df1['credit_score'].fillna(credit_score, inplace=True)

In [3]:
#one-hot-encode the categorical data

final_df1 = pd.get_dummies(df1, columns=['gender', 'owns_car','owns_house','occupation_type'])

#remove the extra dimensions
final_df1 = final_df1.drop(columns=['owns_car_0','owns_car_N','owns_house_N'])

q = final_df1.pop('credit_card_default')
final_df1['credit_card_default'] = q

In [4]:
#need to normalize the data otherwise it will skew horribly

normalized_df=(final_df1-final_df1.min())/(final_df1.max()-final_df1.min())

In [5]:
normalized_df

,age,no_of_children,net_yearly_income,no_of_days_employed,total_family_members,migrant_worker,yearly_debt_payments,credit_limit,credit_limit_used(%),credit_score,...,occupation_type_Managers,occupation_type_Medicine staff,occupation_type_Private service staff,occupation_type_Realty agents,occupation_type_Sales staff,occupation_type_Secretaries,occupation_type_Security staff,occupation_type_Unknown,occupation_type_Waiters/barmen staff,credit_card_default
0,0.71875,0.000000,0.000574,0.001670,0.000000,1.0,0.094615,0.000472,0.737374,0.097996,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,0.18750,0.000000,0.000588,0.007581,0.111111,0.0,0.040175,0.001084,0.525253,0.795100,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.43750,0.000000,0.001442,0.000553,0.111111,0.0,0.141708,0.001208,0.434343,0.334076,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.50000,0.000000,0.000676,0.032687,0.111111,0.0,0.062407,0.000920,0.202020,0.565702,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.71875,0.000000,0.002559,0.003989,0.000000,0.0,0.110611,0.001573,0.757576,0.951002,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45523,1.00000,0.222222,0.000491,0.000315,0.333333,0.0,0.027594,0.000824,0.828283,0.906459,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
45524,0.25000,0.000000,0.002532,0.002639,0.111111,1.0,0.126221,0.004368,0.323232,0.398664,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45525,0.12500,0.000000,0.001655,0.003882,0.111111,0.0,0.062816,0.002569,0.464646,0.505568,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45526,0.28125,0.000000,0.000925,0.006721,0.111111,0.0,0.054968,0.000692,0.929293,0.679287,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45527,0.46875,0.111111,0.002059,0.003307,0.222222,0.0,0.099321,0.001048,0.262626,0.405345,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:



#write the data to new csv files
normalized_df.to_csv('clean_data.csv', index=False)